.sectionContent {
  margin-top: 5em;
}





@media (width > 426px){
  .sectionContent{
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.sectionContent::-webkit-scrollbar{
  display: none;
}
}