@import '@/variables/color.scss';
@import '@/variables/font.scss';
@import '@/variables/text.scss';

.sectionContent {
  margin-top: 4em;
  font-family: HelveticaS;
  font-size: $SubtitleSize;
  color:$SectionContent; 

  .cardContent{
    margin-bottom: 3em;
    .secondTitle{
      margin-bottom: 2em;
      
      color:$CardTitle; 
      letter-spacing: 0.1em;
      
    }
    .secondTitleSticky{
      position: sticky;
      top: 0em;
      backdrop-filter: blur(5px);
      height:2em;
      padding-top: 1em;
    }
    
    .cardSubtitle{
     @extend .secondTitle;
     margin-bottom:1.3em;
    }
    .cardDescription{
      margin-bottom: 0.5em;
    }

    .cardWhy{
      font-size: 1em;

    }
    .cardTechno{
      font-size: $ButtonTechnoSize;
      margin-top: 1em;
      margin-bottom: 5em;


      ul{
        display: flex;
        flex-wrap: wrap;
        .cardTechnoList{
          list-style: none;
          padding: 0.5em 1em;
          margin-top: 1em;
          margin-right: 0.5em;
          font-size: $TechnoSize;
          border-radius: 2em;
          background-color: rgba(128, 128, 128, 0.481);
        }

      }
    }
}
}





@media (width > 426px) {
  .sectionContent{
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.sectionContent::-webkit-scrollbar{
  display: none;
}
}