@import '@/variables/color.scss';
@import '@/variables/font.scss';
@import '@/variables/text.scss';

.mainContainer{
    margin-top: 3em;
    
    .mainTitle{
        font-family: Aileron;
        font-size: $TitleSize;
        line-height:2em;
    }
    .mainSubtitle{
        position: relative;
        margin-top: -1em;
    }
    .list{
        display: none;
    }

    .imgLogo{
        margin-top: 2em;
        .logo:nth-child(1){
            padding-right: 1em;
        }
        .logo{
            width: 2em;
            filter: invert(1);
            opacity: 0.6;
        
        }
    }

    .buttonDownload{
        margin-top: 2em;
        button{
            background-color: transparent;
            border: 0.1em solid $textColor;
            padding: 1em;
            

            border-radius: 1em;
            a{
                font-family: HelveticaS;
                font-size: 1.5em;
                text-decoration: none;
                color: $textColor;
            }
    }
}

    button:hover{
        background-color: $SectionContent;
        a{
            color: $BackgroundColor-primary;
        }
    }
}

@media (width > 426px){
    .mainContainer{
   .list{
    display:inline
   }
}

}