.mainContainer{
    margin-top: 3em;
    
    .mainTitle{

        font-size: 2em;
    }
    .mainSubtitle{
        position: relative;
        margin-top: -1em;
    }
    .list{
        display: none;
    }
}

@media (width > 426px){
    .mainContainer{
   .list{
    display:inline
   }
}

}