.mainContainer{
    min-width:20vw;
    
    h1{
        font-size: 2em;
    }
    .list{
        display: none;
    }
}

@media (width > 426px){
    .mainContainer{
   .list{
    display:inline
   }
}

}