@import "@/variables/color.scss";
@import "@/variables/font.scss";

.mainButton {
  button {
    background-color: transparent;
    border: 0.1em solid $textColor;
    padding: 1em;
    color: $textColor;
    border-radius: 1em;
    margin-left: 2em;
    a {
      font-family: Helve;
      font-size: 1.2em;
      text-decoration: none;
    }
  }

  button:hover {
    background-color: $SectionContent;
    a {
      color: $BackgroundColor-primary;
    }
  }
}
