
//Aileron font for Title
@font-face {
    font-family: Aileron;
    src: url(/assets/font/Aileron-Black/Aileron-Black.otf);
}

//HelveticaS font for subtitle
@font-face {
    font-family: Helve;
    src: url( /public//assets//font/HelveticaNeueLTPro-Md/HelveticaS.ttf);
}