
//aileron black title
//helvetica sous titre

//Aileron font for Title
@font-face {
    font-family: Aileron;
    src: url(/public/assets/font/Aileron-Black/Aileron-Black.otf);
}

//HelveticaS font for subtitle
@font-face {
    font-family: HelveticaS;
    src: url(/public/assets/font/HelveticaNeueLTPro-Md/HelveticaS.ttf);
}