
/******************Size Text****************/

//Title
$TitleSize:2em;
//Subtitle
$SubtitleSize:0.9em;
$TechnoSize:1.2em;

//Button Tehno
$ButtonTechnoSize : 0.8em;
//couleur text
$textColor : rgb(226 232 240);

